body{
    font-family: 'Cairo', sans-serif !important; 
}
.navbar-brand{
    color: red !important;
}
.leftside li:nth-child(3) a{
    color: red !important;
    
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
    min-width: 300px;
}